# Ignore the target directory and specific files in it
/target/
# Specific files in the target directory
/target/GameHub-1.0-SNAPSHOT.war
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
