<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>Controller.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGameController</servlet-name>
        <servlet-class>Controller.AddGameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameHomeAdminController</servlet-name>
        <servlet-class>Controller.ReadGameHomeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameHomeController</servlet-name>
        <servlet-class>Controller.ReadGameHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameListController</servlet-name>
        <servlet-class>Controller.ReadGameListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllGameController</servlet-name>
        <servlet-class>Controller.ShowAllGameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendUserController</servlet-name>
        <servlet-class>Controller.SuspendUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnSuspendUserController</servlet-name>
        <servlet-class>Controller.UnSuspendUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhotoController</servlet-name>
        <servlet-class>Controller.UploadPhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameHomeMemberController</servlet-name>
        <servlet-class>Controller.ReadGameHomeMemberController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReadGameUploadOfMemberController</servlet-name>
        <servlet-class>Controller.ReadGameUploadOfMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGenreController</servlet-name>
        <servlet-class>Controller.AddGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>Controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameListAdminController</servlet-name>
        <servlet-class>Controller.ReadGameListAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadGameListMemberController</servlet-name>
        <servlet-class>Controller.ReadGameListMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostController</servlet-name>
        <servlet-class>Controller.EditPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameReleaseNotificationAdminController</servlet-name>
        <servlet-class>Controller.GameReleaseNotificationAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishListServlet</servlet-name>
        <servlet-class>Controller.WishListServlet</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>AddGameByMemberController</servlet-name>
        <servlet-class>Controller.AddGameByMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlistController</servlet-name>
        <servlet-class>Controller.AddToWishlistController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGameController</servlet-name>
        <url-pattern>/AddGameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameHomeAdminController</servlet-name>
        <url-pattern>/ReadGameHomeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameHomeController</servlet-name>
        <url-pattern>/ReadGameHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameListController</servlet-name>
        <url-pattern>/ReadGameListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllGameController</servlet-name>
        <url-pattern>/ShowAllGameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendUserController</servlet-name>
        <url-pattern>/SuspendUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnSuspendUserController</servlet-name>
        <url-pattern>/UnSuspendUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/RemoveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhotoController</servlet-name>
        <url-pattern>/UploadPhotoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameHomeMemberController</servlet-name>
        <url-pattern>/ReadGameHomeMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGenreController</servlet-name>
        <url-pattern>/AddGenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameListAdminController</servlet-name>
        <url-pattern>/ReadGameListAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameListMemberController</servlet-name>
        <url-pattern>/ReadGameListMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostController</servlet-name>
        <url-pattern>/EditPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameReleaseNotificationAdminController</servlet-name>
        <url-pattern>/GameReleaseNotificationAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListServlet</servlet-name>
        <url-pattern>/WishListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadGameUploadOfMemberController</servlet-name>
        <url-pattern>/ReadGameUploadOfMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGameByMemberController</servlet-name>
        <url-pattern>/AddGameByMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlistController</servlet-name>
        <url-pattern>/AddToWishlistController</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
